$color-dark-blue: #5856d6;
$color-deep-blue: #007aff;
$color-blue: #34aadc;
$color-light-blue: #5ac8fa;
$color-green: #4cd964;
$color-pink: #ff2d55;
$color-red: #ff3b30;
$color-orange: #ff9500;
$color-yellow: #ffcc00;
$color-dark-grey: #212121;
$color-grey: #8e8e93;
$color-light-grey: #bcbcc1;

$color-black: #000;
$color-white: #fff;

$color-text: $color-dark-grey;

// COLORS

$space-min: 1px;
$space-fix: 2px;
$space-xs: 3px;
$space-sm: 5px;
$space: 10px;
$space-md: 15px;
$space-lg: 20px;
$space-xl: 25px;
$space-xxl: 30px;

// SPACE

$b-rad: 5px;

$shadow: 0px 1px 5px 0px rgba(55, 55, 55, 0.2);
$shadow-focus: 0px 1px 10px 0px rgba(55, 55, 55, 0.25);

// APPEARANCE

$fz-xs: 12px;
$fz-sm: 15px;
$fz: 18px;
$fz-md: 21px;
$fz-lg: 24px;
$fz-xl: 27px;
$fz-xxl: 36px;

$ff: 'Roboto', sans-serif;

// FONT

$input-text-height: 40px;

// INPUT

$btn-active-opacity: 0.3;
$btn-min-opacity: 0.15;

// BTN
